@font-face{
  font-family: Comfortaa;
  src: url(./fonts/Comfortaa-Light.ttf);
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div{
  display: block;
}
.App__nav{
  position: relative;
    padding: 1rem;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.App__nav-container{
  border-bottom: 1px solid rgba(0,0,0,.24);
  background-color: #fff;

}
.logo-container {
  color: #000!important;
  font-family: Comfortaa;
  font-weight: 800;
  display: flex;
  cursor: pointer;
}
.logo-text {
  text-align: right;
  font-size: 27px;
}
.logo-brackets {
  color: #1c67da;
  margin-left: 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 50px;
}
.logo-bar{
  padding: 0 10px;
  vertical-align: bottom;
  width: 45px;
  height: 50px;
  overflow: visible;
  position: relative;
  box-sizing: border-box;
}
.bar {
  background-color: #1c67da;
  height: 11%;
  width: 100%;
  position: absolute;
  border-radius: 2rem;
  transform: translateZ(0);
  animation-duration: 1.5s; 
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
}
.hoverbar{
  animation-iteration-count: infinite;
}
.b1 {
  top: 22%;
  width: 75%;
  right: 0;
  animation-name: ba1;
}
.b2 {
  top: 42%;
  width: 95%;
  right: 0;
  animation-name: ba2;
}
.b3 {
  top: 60%;
  width: 40%;
  right: 0;
  animation-name: ba3;
}
.b4 {
  top: 80%;
  width: 60%;
  right: 0;
  animation-name: ba4;
}

.App__nav-title{
  width: 55rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.App__nav-title-1 {
  display: flex;
  width: 80%;
  z-index: 220;
  align-items: center;
  justify-content: space-around;
}

.App__nav-title-l {
  
  align-items: center;

  display: flex;
  color: #000;
  font-family: Comfortaa;
  font-weight: 800;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 17px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.App__nav-title-theory{
  position: relative;
  min-width: 143.45px;
  max-width: 143.45px;
  min-height: 21.2px;
  max-height: 21.2px;
  
}
.title{
  color: #000;
  font-family: Comfortaa;
  font-weight: 800;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
.popup-container{
  transform: translateY(10px);
    transition: all .3s;
    transform-origin: 41px 20px;
}
.popup{
  position: relative;
    margin-left: -5rem;
    width: 14rem;
    box-shadow: -1px 6px 10px rgba(0,0,0,.2);
    background-color: #e9f0fb;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 9px;
}
.upper{
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(0);
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #e9f0fb;
}
.list-link{
  margin-bottom: 1rem;
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 19px;
}

.App__nav-login{
  background: linear-gradient(90deg,#5e81f4,#1c67da);
    border-radius: 7.3px;
    color: #fff;
    border: none;
    height: 49px;
    width: 120px;
    font-size: 17px;
    background-color: transparent;
    cursor: pointer;
   
    transition: all .1s;
    overflow: hidden;
}
.App__nav-login::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: -200%;
  width: 200%;
  height: 100%;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  background-image: -webkit-linear-gradient(left,transparent,hsla(0,0%,100%,.3),transparent);
  background-image: linear-gradient(90deg,transparent,hsla(0,0%,100%,.3),transparent);
}

.App__nav-h-content{
  display: flex;
    justify-content: space-between;
    width: 95vw;
    margin: 0 auto 1rem;
    padding-top: 1rem;
}
.hidden-btn{
  display: flex;
    align-items: center;
}
.btn-icon{
  width: 28px;
    height: 26px;
    position: relative;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.btn-icon-bar{
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: -webkit-linear-gradient(left,#5e81f4,#1c67da);
  background: linear-gradient(90deg,#5e81f4,#1c67da);
  border-radius: 4px;
  opacity: 1;
  left: 0;

  transform: rotate(0deg);

  transition: .25s ease-in-out
}

.c1{
  top: 0px;
}
.c2,.c3{
  top: 10px;
}
.c4{
  top: 20px;
}
 .open1{
 display: none;
}
.open2{
  transform: rotate(45deg);
}
.open3{
  transform: rotate(-45deg);
}
.open4{
  display: none;
}
.hidden-nav-container {
  box-shadow: 0 0 15px 0 rgba(0,0,0,.34);
  position: fixed;
  top: 93px;
  height: calc(100vh - 93px);
  z-index: 99999;
  font-family: Comfortaa;
  box-sizing: border-box;
  width: 20rem;
  border-radius: 0 4px 4px 0;
  background: -webkit-linear-gradient(left,#5e81f4,#1c67da);
  background: linear-gradient(90deg,#5e81f4,#1c67da);
  transform: translateX(-332px);
  transition: all .3s cubic-bezier(.26,.28,1,1);
}

.hidden-nav-link {
  display: block;
  height: 5rem;
  max-height: 5rem;
  margin-left: 2rem;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 1.3rem;
  color: #fff;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-decoration: none;
}
.hidden-nav-link >span {
  display: block;
  height: 5rem;
  max-height: 5rem;
  margin-left: 2rem;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 1.3rem;
  color: #fff;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-decoration: none;
}
.hidden-nav-link-theory {
  max-height: 5rem;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}
.hidden-nav-link-theory-links {
  padding: 1rem 1rem 1rem 2rem;
  background: #4c66bd;
  
}
.hidden-nav-link-theory-links-link {
  display: block;
  height: 3rem;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.hidden-nav-link-theory-open {
  max-height: 16rem;
  background-color: #3757c2;
}
.App__first-page-container{
  padding-bottom: 20px;
  height: calc(100vh - 93.8px);
}

.App__first-page-main{
  display: flex;
    position: relative;
}

.main-left{
  width: 50%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-text{
  font-size: 3.4rem;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 2rem;
  padding-top: 0;
  text-align: left;
  font-family: Comfortaa;
}

.r1, .r2{
  display: block;
  margin-bottom: 1rem;
}
.r1{
  margin-top: 0px;
}
.r3{
  display: block;
  font-weight: 800;
}
.left-btn{
  position: relative;
    margin-top: 0;

    display: flex;

    background: -webkit-linear-gradient(left,#5e81f4,#1c67da);
    background: linear-gradient(90deg,#5e81f4,#1c67da);
    border-radius: 9.32px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    box-shadow: 0 4px 7px rgba(0,0,0,.2);
    font-family: Comfortaa;
    font-weight: 800;
   
    align-items: center;
   
    justify-content: center;
    height: 49px;
    width: 237px;
    overflow: hidden;
  
    transition: all .3s;
}
.left-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: -200%;
  width: 200%;
  height: 100%;
  
  transform: skewX(-20deg);
  
  background-image: -webkit-linear-gradient(left,transparent,hsla(0,0%,100%,.3),transparent);
  background-image: linear-gradient(90deg,transparent,hsla(0,0%,100%,.3),transparent);
}

.main-right{
  display: flex;
  width: 587px;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}

.main-companies-container{
  border-top: 1px solid rgba(0,0,0,.24);
  padding-top: 2rem;
}
.mini-container{
  margin: 0 auto;
    width: 90%;
  
    display: flex;
   
    justify-content: space-between;
  
    align-items: center;
}

.company{
  animation: breathe 2s ease-in-out infinite;
    height: 2.4rem;
    width: 10rem;
    min-width: 8rem;
    
    display: flex;
   
    justify-content: center;
 
    align-items: center;
    cursor: pointer;

}
.company-img{
  width: 100%;
  height: 100%;
  
  transition: all .2s;
}

.App__second-page-container{
  margin-top: 3rem;
    min-height: 100vh;
    font-family: Comfortaa;
}
.App__second-page-header{
  font-size: 2.6rem;
  text-align: center;
  line-height: 2.8rem;
}

.second-page-topics {
  box-sizing: border-box;
  margin-top: 2rem;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.second-page-topics :hover{
  transform: translateY(0px) scale(1.05);
      box-shadow: rgba(0, 0, 0, 0.2) 7px 7px 5px;
}
.second-page-topic-text:hover{
  transform: translateY(0px) scale(1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px;
}
.second-page-topic-1, .second-page-topic-12, .second-page-topic-13 {
  background-color: #53d2dc;
}
.second-page-topic-tl {
  border-radius: 0 50px 50px 50px;
}
.second-page-topic {
  margin: 1.5rem;
  height: 192px;
  width: 192px;
  text-align: center;
  line-height: 32px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 7px 7px 5px rgba(0,0,0,.1);
  font-size: 1.5rem;
  color: #fff;
  font-weight: 800;
  overflow: hidden;
 
  transition: all .3s;
}
.second-page-topic-1 .second-page-topic-bg, .second-page-topic-12 .second-page-topic-bg, .second-page-topic-13 .second-page-topic-bg {
  opacity: .25;
}
.second-page-topic-text {
  position: relative;
  z-index: 9;
}
.second-page-topic-bg {
  position: absolute;
  top: 0;
  left: 0;
}
.second-page-topic-2, .second-page-topic-11, .second-page-topic-14 {
  background-color: #3096e1;
}
.second-page-topic-br {
  border-radius: 50px 50px 0 50px;
}
.second-page-topic-3, .second-page-topic-10, .second-page-topic-15 {
  background-color: #ff826e;
}
.second-page-topic-tl {
  border-radius: 0 50px 50px 50px;
}
.second-page-topic-4, .second-page-topic-9, .second-page-topic-16 {
  background-color: #ffbe5d;
}
.second-page-topic-bl {
  border-radius: 50px 50px 50px 0;
}
.second-page-topic-5, .second-page-topic-8, .second-page-topic-17 {
  background-color: #92a8ff;
}
.second-page-topic-tr {
  border-radius: 50px 0 50px 50px;
}
.second-page-topic-6, .second-page-topic-7, .second-page-topic-18 {
  background-color: #f0a6ca;
}
@media only screen and (max-width: 1200px){
  .App__nav {
      width: 100%;
      box-sizing: border-box;
  }
  .second-page-topic {
    height: 150px;
    width: 150px;
    font-size: 1.2rem;
    margin: 1.2rem;
}
}

@media only screen and (min-width:1155px){
  .App__nav-h-content{
    display: none;
  }
}
  
  @media screen and (max-width: 1154px){
  .App__nav {
      display: none;
  }
  .App__first-page-container{
    height: auto;
  }
  .left-btn{
    height: 44px;
    width: 230px;
    font-size: 16px;
}
.left-text{
  font-size: 3.1rem;
}
  }

  
  @media screen and (max-width:990px){
    .App__first-page-main{
      display: block;
    }
    .main-left{
      width: 100%;
    height: auto;
    padding-top: 7rem;
    padding-bottom: 4rem;
    align-items: center;
    }
    .r1{
      font-size: 3.4rem;
      text-align: center;
    }
    .r2{
      font-size: 3.4rem;
      text-align: center;
    }
    .r3{
      font-size: 3.4rem;
      text-align: center;
    }
    .left-btn{
      height: 47px;
    width: 230px;
    font-size: 17px;
    margin: 0 auto;
    }
    .r1,.r2,.r3{
      font-size: 3.4rem;
      text-align: center;
    }
    .mini-container{
      width: 95%;
      margin-bottom: 1rem;
    }
    .main-right{
      margin: 0 auto;
      margin-bottom: 50px;
    }

  }

@media screen and (max-width:860px){
  .mini-container{
    width: 90%;
    margin-bottom: 1rem;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

  }
}

  @media screen and (max-width:750px){
    .main-right{
      width: 480px;
      margin-left: auto;
      margin-right: auto;
    }
    
  }

  @media screen and (max-width:600px){
    .logo-text{
      font-size: 25px;
    }
    .logo-brackets{
      font-size: 44px;
    }
    .logo-bar{
      width: 35px;
      height: 44px;
    }
    .App__nav-login{
      height: 47px;
      width: 100px;
      font-size: 16px;
    }
    .hidden-nav-container{
      top: 88px;
    height: calc(100vh - 88px);
    }
    .main-right{
      width: 450px;
      
    }
    .r1,.r2,.r3{
      font-size: 2.9rem;
    }
    .App__second-page-header{
      font-size: 2.5rem;
    padding: 0 1rem;
    }
    .second-page-topic {
      height: 135px;
      width: 135px;
      font-size: 1rem;
      margin: .75rem;
  }
  }

  @media screen and (max-width:500px){
    .logo-text{
      font-size: 22px;
    }
    .logo-brackets{
      font-size: 40px;
    }
    .logo-bar{
      width: 31px;
      height: 40px;
    }
    .App__nav-login{
      height: 40px;
      width: 85px;
      font-size: 15px;
    }
    .hidden-nav-container{
      top: 79px;
    height: calc(100vh - 79px);
    }
    .main-right{
      width: 430px;
    }
    .App__second-page-header{
      font-size: 2.2rem;
    padding: 0 1rem;
    }
    .second-page-topic {
      height: 115px;
      width: 115px;
      font-size: .9rem;
  }
  }

@media screen and(max-width:470px){
    
    .main-right{
      width: 400px;
     
    }
   
   
  }

  @media screen and (max-width:430px){
    .logo-text{
      font-size: 19px;
    }
    .logo-brackets{
      font-size: 37px;
    }
    .logo-bar{
      width: 28px;
      height: 37px;
    }
    .App__nav-login{
      height: 38px;
      width: 75px;
      font-size: 14.5px;
    }
    .hidden-nav-container{
      top: 75px;
    height: calc(100vh - 75px);
    }
    .btn-icon-bar{
      width: 22px;
    }
    .c1{
      top: 0;
    }
    .c2,.c3{
      top: 8px;
    }
    .c4{
      top: 16px;
    }
    .r1,.r2,.r3{
      font-size: 2.4rem;
    }
    .main-right{
      width: 365px;
    }
    .second-page-topic {
      height: 135px;
      width: 135px;
      font-size: 1rem;
  }
  }

  @media screen and (max-width:385px){
    .main-right{
      width: 318px;
    }
    .r1,.r2,.r3{
      font-size: 2.2rem;
    }
    .company{
      width: 8rem;
    }
  }

  @keyframes ba1 {
    0% {
      width: 75%;
    }
    44% {
      width: 0%;
    }
    94% {
      width: 100%;
    }
    100% {
      width: 75%;
    }
  }
 
  
  @keyframes ba2 {
    0% {
      width: 95%;
    }
    38% {
      width: 0%;
    }
    88% {
      width: 100%;
    }
    100% {
      width: 95%;
    }
  }

  @keyframes ba3 {
    0% {
      width: 40%;
    }
    8% {
      width: 0%;
    }
    58% {
      width: 100%;
    }
    100% {
      width: 40%;
    }
  }

  
  @keyframes ba4 {
    0% {
      width: 60%;
    }
    20% {
      width: 0%;
    }
    70% {
      width: 100%;
    }
    100% {
      width: 60%;
    }
  }
  @keyframes breathe {
    0% {
      transform: none;
    }
    25% {
      transform: translateY(-2px);
    }
    50% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(2px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  
